h1,
p {
  color: #bbbbbb;
}

.heading {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  background-color: #03506f;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  align-items: center;
  justify-content: space-around;
}

/* Styling the button */
button {
  color: #bbbbbb;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.2rem;
  justify-content: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  /* overflow: hidden; */
  outline: none;
}

button:hover {
  font-weight: bold;
}

.randomList {
  width: 100px;
}

.range-wrapper {
  display: flex;
  flex-direction: row;
  width: 250px;
  color: #bbbbbb;
  align-items: center;
  justify-content: space-around;
}

.separator {
  border-left: 2px solid #222831;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.sort-wrapper {
  align-items: center;
  color: #bbbbbb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 50px;
  width: 300px;
}

.webName {
  color: #93b5e1;
  text-align: left;
}

.webName h5 {
  color: #d6e0f0;
  font-weight: lighter;
}
