.container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  /* margin-left: 25px;
  margin-right: 25px; */
  justify-content: center;
  /* border: 1px solid blue; */
}

p.barSizeName {
  text-align: center;
  color: #3d7ea6;
  padding-top: 10px;
}

.bar {
  background-color: #bce6eb;
  border: 1px solid #f9fafa;
}
